body {
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
}

/* HEADER */
.nav-extended {
  padding: 30px 0px;
  box-shadow: none;
}
.brand-logo {
  letter-spacing: 10px;
}
@media (max-width: 450px) {
  .brand-logo {
    letter-spacing: 5px;
  }
}
#nav-mobile li {
  margin-right: 70px;
}
#nav-mobile li:last-child {
  margin-right: 0px;
}
@media (max-width: 1140px) {
  #nav-mobile li {
    margin-right: 40px;
  }
}

/* FOOTER */
.page-footer {
  padding: 20px 0px;
}
.page-footer .row {
  padding: 0;
  margin: 0;
}

/* MAIN */

/* conditions (left) */
.footer-conditions {
  display: flex;
}
@media (max-width: 600px) {
  .footer-conditions {
    justify-content: center;
  }
}
.footer-conditions li {
  margin-right: 15px;
}
.footer-conditions li:last-child {
  margin-right: 0px;
}
.footer-conditions li a:hover {
  text-decoration: underline;
}

/* social (right) */
.footer-social-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 600px) {
  .footer-social-wrapper {
    justify-content: center;
  }
}
.footer-social {
  display: flex;
  align-items: center;
}
.footer-social p {
  margin-right: 20px;
}
.social-links {
  display: flex;
}
.social-links li {
  margin-right: 15px;
}
.social-links li:last-child {
  margin-right: 0px;
}

/* social lincs */
.social-links .fa-facebook-f {
  font-size: 20px;
  padding: 5px;
}
.social-links .fa-facebook-f:hover {
  color: #1877f2 !important;
}
.social-links .fa-twitter {
  font-size: 20px;
  padding: 5px;
}
.social-links .fa-twitter:hover {
  color: #1d9bf0 !important;
}
.social-links .fa-instagram {
  font-size: 20px;
  padding: 5px;
}
.social-links .fa-instagram:hover {
  color: #f402d1 !important;
}
