html {
  scroll-behavior: smooth;
}
body {
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  overflow-x: hidden;
}

/* HEADER */
#header {
  /* background-color: #f00; */
  min-width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-extended {
  padding: 30px 0px;
  box-shadow: none;
}
.brand-logo {
  letter-spacing: 10px;
}
@media (max-width: 450px) {
  .brand-logo {
    letter-spacing: 5px;
  }
}
#nav-mobile li {
  margin-right: 70px;
}
#nav-mobile li:last-child {
  margin-right: 0px;
}
@media (max-width: 1140px) {
  #nav-mobile li {
    margin-right: 40px;
  }
}

/* MAIN */
/* hero section, slider */
.hero {
  padding: 0px 5%;
}
/* lifestyle section */
.lifestyle {
  padding: 10% 0px;
}
.lifestyle-subtitle {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.lifestyle-title {
  margin-bottom: 30px;
}
.lifestyle-text {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 1.8;
}
.lifestyle-link {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.lifestyle-link:hover {
  text-decoration: underline;
}
/* phtodiary section */
.card {
  box-shadow: none;
  padding-bottom: 15%;
}
.card-content {
  padding: 30px 0px !important;
}
.card-content-subtitle {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-bottom: 30px !important;
}
.card-title {
  margin-bottom: 20px !important;
  font-size: 32px !important;
}
.card-content-dexc {
  font-size: 18px;
}
/* form container */
.form-container {
  padding: 5% 0px;
  margin-bottom: 8%;
}
.input-field {
  position: relative;
}
.form-title {
  margin-bottom: 10%;
}
.arrow {
  display: inline-block;
  width: 32px;
  height: 18px;
  background: url(../images/icons/send-arrow.png) no-repeat;

  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

/* lead more (button) section */
.leadmore {
  padding: 0px 0px 10%;
}
.my-btn {
  box-shadow: none;
  border: 1px solid #616161;
  border-radius: 0px;

  font-size: 20px;
  text-transform: lowercase;
}
.my-btn::first-letter {
  text-transform: uppercase;
}
.my-btn:hover {
  box-shadow: none;
  transform: scale(1.1);
  background-color: #eaeaea !important;
  color: #000 !important;
}

/* FOOTER */
.page-footer {
  padding: 20px 0px;
}
.page-footer .row {
  padding: 0;
  margin: 0;
}

/* conditions (left) */
.footer-conditions {
  display: flex;
}
@media (max-width: 600px) {
  .footer-conditions {
    justify-content: center;
  }
}
.footer-conditions li {
  margin-right: 15px;
}
.footer-conditions li:last-child {
  margin-right: 0px;
}
.footer-conditions li a:hover {
  text-decoration: underline;
}

/* social (right) */
.footer-social-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 600px) {
  .footer-social-wrapper {
    justify-content: center;
  }
}
.footer-social {
  display: flex;
  align-items: center;
}
.footer-social p {
  margin-right: 20px;
}
.social-links {
  display: flex;
}
.social-links li {
  margin-right: 15px;
}
.social-links li:last-child {
  margin-right: 0px;
}

/* social lincs */
.social-links .fa-facebook-f {
  font-size: 20px;
  padding: 5px;
}
.social-links .fa-facebook-f:hover {
  color: #1877f2 !important;
}
.social-links .fa-twitter {
  font-size: 20px;
  padding: 5px;
}
.social-links .fa-twitter:hover {
  color: #1d9bf0 !important;
}
.social-links .fa-instagram {
  font-size: 20px;
  padding: 5px;
}
.social-links .fa-instagram:hover {
  color: #f402d1 !important;
}
